body {
	font-family: 'Open-sans', sans-serif;
	color: #16181A;
	background-color: #E2E1E2;
	padding: 2px;
    font-size: 15px;
}

.card{
	text-align: center;
	padding: 20px;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
	background-color: white;
	border-radius: 4px;
	margin: 10px;
}

img {
	width: 320px;
	border: 3px solid #FFF;
	padding: 10px;
}

h1, h2, h3, h4{ 
	font-family: 'Open-sans', sans-serif;
}

h1 {
	margin-top: 100px;
}

h2 {
	font-size: 35px;
}

.jumbotron {
	background-image: url(../images/background.jpg);
	color: white;
	text-shadow: 1px 2px 3px black;
	text-align: center;
	background-repeat: no-repeat;
}

.jumbotron p {
	font-size: 30px;
}

#images {
	text-align: center;
}

.modal-title, .modal-body {
	color: black;
	text-shadow: 1px 2px 3px white;
}

.navbar-transparent {
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > li > a {
  color: #eeeeee;
  line-height: 50px;
}

.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus {
  color: white;
}

#follow a{
	color: #4C4C4C;
}

#follow a:hover {
	color: #818181;
	text-decoration: none;
}

#follow p {
	font-size: 11px;
}	

.list-inline{ 
	padding-left: 0;
}

.text-center{
	text-align: center;
	display: inline-block;
	width: 70px;
	font-size: 15px;
	font-family: 'Open-sans', sans-serif;
}

.fa-twitter, .fa-instagram, .fa-facebook { 
	font-size: 30px;
}
